<div
  class="border-b-2 border-b-white w-svw pb-3 bg-black fixed z-10 font-inter"
>
  <div class="w-full border-b-white border-b-2 h-20 flex justify-between px-10 items-center">
    <div class="w-24 h-32 flex flex-col items-center justify-center">
      <img src="../assets/images/logoFSAE.png" />
    </div>
    <div class="w-1/2 flex justify-evenly">
      <a
        class="hover:border-b-2 hover:border-b-white cursor-pointer text-white"
        href="/lineaTiempo"
        >Línea del tiempo</a
      >

      <a
        class="hover:border-b-2 hover:border-b-white cursor-pointer text-white"
        href="/patrocinios"
        >Patrocinios</a
      >
    </div>
    <div class="dropdown dropdown-end cursor-pointer">
      <div tabindex="0" class="avatar placeholder h-12 w-12 ">
        <div class="w-24 rounded-full bg-neutral-700 text-5xl">
          <span class="material-icons">person</span>
        </div>
      </div>
      <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4">
        <li><a href="/departamentos">Departamentos</a></li> 
        <li><a href="/editor">Editor</a></li>
      </ul>
    </div>
  </div>
</div>
