<div class="w-full pt-4">
    <div class="bg-gray-300 p-4 rounded-box w-full h-30 flex flex-col justify-center">
        <div class="flex flex-row space-x-2 justify-between">
            <div class="flex flex-row space-x-2 w-full">
                <svg class="w-6 h-6 text-gray-800 mt-1" 
                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
                width="24" height="24" 
                [attr.fill]="subtarea.Estado ? 'green' : 'gray'"
                viewBox="0 0 24 24"
                (click)="handleUpdateTask()">
                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                    <title>Presione para cambiar estatus</title>
                </svg>       
                                      
                <h2 class="text-base text-black mb-1 mt-1 w-full">{{subtarea.Nombre}}</h2>
            </div>    
            <div class=" mb-1">
                <app-boton-eliminar (eliminar)="handleDeleteTask($event)"></app-boton-eliminar>
                <svg (click)="openModal()" class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                </svg>  
              </div>            
        </div>
        
        <p class="w- text-sm text-black flex items-center mt-1">
            Descripción de Subtarea - {{subtarea.Descripcion}}
        </p>
    </div>
</div>