<dialog id="my_modal_tasks" class="modal" [attr.data-modal-id]="ModalId">
    <div class="modal-box bg-gray-200">
      <form method="dialog">
        <button
          class="btn-sm btn-circle btn-ghost absolute right-2 top-2 text-black font-bold focus:border-transparent flex items-center justify-center"
        >
          ✕
        </button>
      </form>
      <p class="py-4 text-black">Nombre del Tablero</p>
      <input class="input bg-white w-5/6" id="nombre" />
      
      <p class="py-4 text-black">Fecha de inicio:</p>
      <div class="relative max-w-sm">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
            />
          </svg>
        </div>
        <input
          id="fechaInicio"
          type="date"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 items-center"
          placeholder="Select date"
        />
      </div>
  
      <p class="py-4 text-black">Fecha de fin:</p>
      <div class="relative max-w-sm">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
            />
          </svg>
        </div>
        <input
          id="fechaFin"
          type="date"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full ps-10 p-2.5 flex items-center"
          placeholder="Select date"
        />
      </div>
  
      <p class="py-4 text-black">Personas:</p>
  
      <input class="input w-5/6 text-black bg-neutral-100" id="users" />
  
      <div class="flex justify-end">
        <button
          class="btn hover:bg-green-600 hover:border-transparent mt-4 bg-green-600 text-white border-green-600 w-full"
          (click)="AddBoard()"
        >
          Confirmar
        </button>
      </div>
    </div>
  </dialog>
  
